
<section xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 th:text="player.name"></h1>
    <h1>Team: </h1>
    <div th:each="team : ${teams}"><p th:if="${player.getTeamId() == team.getId()}">
        <p th:text = "${team.name}"></p>
        </p>
    </div>
    <h1> Position:</h1>
    <div th:each="position : ${positions}">
                    <span th:if="${player.getPositionId() == position.getId()}">
                        <p th:text = "${position.name}"></p>
                    </span>
    </div>
</section>